                                        /*
SOMMAIRE
    * 10

    DESKTOP
        Header
            ul
                li
        section

*/
/*Mise a 0 des marges par défaut et du font demandé*/
                                    
* {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
/*----------------------------- A RETIRER -----------------------------*/
/*body {
    background-image: url("Desktop - 1.png");
    background-size: cover;
}*/
                                    



section img, aside img {
    display: none;
}
/*----------------------------- A RETIRER -----------------------------*/



/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    header nav ul {
        display: flex;
    }

        li {
            list-style: none;
        }

div{
    display: flex;
    flex-wrap: wrap;
}

section#hebergements{
    flex: 2 ;
    display: flex;
    flex-wrap: wrap;
}

    h2{
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }
    section#hebergements a {
        flex-basis: 30%;
    }

aside h2 i{
    justify-self: flex-end;
}

section#activites{
    display: flex;
    flex-wrap: wrap;
}
    section#activites h2{
        flex-basis: 100%;
    }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





/*SMARTPHONES ET TABLETTES*/

@media screen and (max-width:425px) {
    header {
        display:block ;
    }

        header nav ul li{
            flex-basis: 50%;
            text-align: center;
        }
        header nav ul li:last-child{
            position: absolute;
            top : 0;
            right: 0;
        }

    section:nth-child(2) form p {
        display: flex;
        flex-wrap: wrap;
    }

    section:nth-child(2) form p span {
        flex-basis: 100%;
    }

    div section#hebergements{
        order: 1;
    }

    section#hebergements a, section#activites a, footer nav {
        flex-basis: 100%;
    }
    
}