                                        /*
SOMMAIRE
    * 10

    DESKTOP
        Header
            ul
                li
        section

*/

                                        /*Mise a 0 des marges par défaut et du font demandé*/

                                        * {
                                            margin: 0;
                                            padding: 0;
                                            font-family: 'Open Sans', sans-serif;
                                        }

                                        a {
                                            text-decoration: none;
                                            color: black;
                                        }

                                        /*----------------------------- A RETIRER -----------------------------*/

                                        body {
                                            background-image: url("Desktop - 1.png");
                                            background-size: cover;
                                        }

                                        section img, aside img {
                                            display: none;
                                        }

                                        /*----------------------------- A RETIRER -----------------------------*/

                                        /*HEADER*/

                                        header {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: flex-start;
                                            margin: 0 3.1%;
                                        }

                                        header img {
                                            padding: 3.2% 0.5% 0;
                                            height: 3.2vw;
                                        }

                                        header nav ul {
                                            display: flex;
                                            font-size: 1.12vw;
                                        }

                                        li {
                                            list-style: none;
                                        }

                                        header nav ul li {
                                            padding: 3.2vw 2.38vw 0;
                                        }

                                        header nav ul li:hover {
                                            border-top: #0065FC solid 2px;
                                        }

                                        header nav ul li:hover a {
                                            color: #0065FC;
                                        }

                                        header nav ul li:last-child a {
                                            font-weight: bolder;
                                            color: #0065FC;
                                        }

                                        /*Section 1 : section de recherche*/

                                        section:nth-child(2) {
                                            margin: 2.3vw 3.8vw;
                                        }

                                        h1 {
                                            font-size: 1.56vw;
                                        }

                                        p {
                                            font-size: 1.1vw;
                                            margin: 0.3vw 0px;
                                        }

                                        form {
                                            margin: 1.3vw 0 0 0;
                                        }

                                        form>*, form p>button {
                                            font-size: 1.3vw;
                                        }

                                        form i {
                                            padding: 1.1vw 1.2vw;
                                            background: #F2F2F2;
                                            border-bottom-left-radius: 30%;
                                            border-top-left-radius: 30%;
                                        }

                                        form input[type="search"] {
                                            margin: 0 0vw 0px -0.5vw;
                                            padding: 0.8vw 0.9vw;
                                            border: #f2f2f2 solid 1px;
                                        }

                                        form input[type="submit"] {
                                            background-color: #0065FC;
                                            border: none;
                                            color: white;
                                            /* margin-left: 120px; */
                                            margin-top: 1px;
                                            padding: 0.85vw 1.2vw;
                                            border-top-right-radius: 30% 30%;
                                            border-radius: 0 20px 20px 0;
                                        }

                                        form p>* {
                                            margin: 1.8vw 1.5vw 1.8vw 0.6vw;
                                        }

                                        form p button {
                                            padding: 0vw 1.8vw 0 0vw;
                                            background: none;
                                            border: solid 3px lightgrey;
                                            border-radius: 2vw;
                                            font-size: 1.25vw;
                                            font-weight: bold;
                                            border-left: none;
                                            margin: 2vw .8vw;
                                        }

                                        form p button i {
                                            border-radius: 2vw;
                                            background: #DEEBFF;
                                            color: #0065FC;
                                            padding: 1vw;
                                            margin: 0 0.6vw 0 -.1vw;
                                        }

                                        body>section:nth-child(2)>p:nth-child(4) {
                                            font-size: 1.12vw;
                                        }

                                        body>section:nth-child(2)>p:nth-child(4)>i {
                                            border: solid 1px lightgrey;
                                            font-size: .8vw;
                                            color: #0065FC;
                                            padding: .4vw .6vw;
                                            border-radius: 2vw;
                                            margin: 0 .8vw 0 .3vw;
                                        }

                                        /*Div centrale : hébergement & aside*/

                                        div {
                                            display: flex;
                                            flex-wrap: wrap;
                                        }

                                        /*Hébergements*/

                                        section#hebergements {
                                            flex: 2;
                                            display: flex;
                                            flex-wrap: wrap;
                                        }

                                        h2 {
                                            flex-basis: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                        }

                                        section#hebergements a {
                                            flex-basis: 30%;
                                        }

                                        /*aside*/

                                        aside h2 i {
                                            justify-self: flex-end;
                                        }

                                        /*activités*/

                                        section#activites {
                                            display: flex;
                                            flex-wrap: wrap;
                                        }

                                        section#activites h2 {
                                            flex-basis: 100%;
                                        }

                                        /*footer*/

                                        footer {
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: space-between;
                                        }

                                        /*SMARTPHONES ET TABLETTES*/

                                        @media screen and (max-width:425px) {
                                            header {
                                                display: block;
                                            }
                                            header nav ul li {
                                                flex-basis: 50%;
                                                text-align: center;
                                            }
                                            header nav ul li:last-child {
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }
                                            section:nth-child(2) form p {
                                                display: flex;
                                                flex-wrap: wrap;
                                            }
                                            section:nth-child(2) form p span {
                                                flex-basis: 100%;
                                            }
                                            div section#hebergements {
                                                order: 1;
                                            }
                                            section#hebergements a, section#activites a, footer nav {
                                                flex-basis: 100%;
                                            }
                                        }