


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    }


 /*----------------------------- A RETIRER -----------------------------*/   
/*body {
    background-image: url("Desktop - 1.png");
    background-size: cover;
}
/*----------------------------- A RETIRER -----------------------------*/

header, #filters, footer, #hebergements, #hebergements div div, #activites div {
    display:flex;
    flex-wrap: wrap;
}




header #logo {
    flex: 6;
}

header a,#hebergements aside {
    flex: 1;
}





aside header{
    justify-content: space-between;
}

#hebergements div {
    flex : 2
}

#hebergements div div a{
    flex: 33%;
}

article b::before{
content: "Nuit à partir de ";
}

 /*----------------------------- A RETIRER -----------------------------*/   
section img{
    display: none;
}
 /*----------------------------- A RETIRER -----------------------------*/   



 /*style smartphones et petites tablettes en portrait*/


@media screen and (max-width:799px) {

    

    header {
        justify-content: space-between;
    }
    header #logo{
        min-width: 50%;

    }
    .ancres{
        order: 4;
        flex: 50%;
        text-align: center;
    }

    #filters h1, #hebergements aside, footer nav, #hebergements div div a, #activites div section{
        flex: 100%;
    }

    #hebergements aside{
        order: -1;
    }


}